<h2>Create new Leaderboard</h2>
<table id="playertable">
</table>

<form>
    
    <label for="fname">Player Steam Community URL or ID:</label><br>
    <input type="text" id="playerid" name="playerid" size="50"><br>
    <input id="addplayer" type="button" value="Add Player">
    <input id="submit" type="button" value="Create Leaderboard">

    </form>
    