<table>
    {{#each data}}
        <tr>
            <td><img src={{ this.profile.avatar }}></img></td>
            <td>{{ this.profile.personaname }}</td>
            <td>{{ this.rank_tier }}</td>
            <td>{{ this.mmr_estimate.estimate }}</td>
        </tr>
    {{/each}}
</table>
